/* Header */
.header {
  width: 100%;
  background-color: #0f172a;
  padding: 1rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #f1f5f9;
}

/* Updated container */
.header .container {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: row; /* make it horizontal */
  justify-content: space-between; /* logo left, nav right */
  align-items: center; /* vertically align */
  margin: 0 auto;
  padding: 0;
}

/* Logo */
.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 3px #98a1bc;
}

/* Nav list */
.header nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
}
/*
.header nav ul li .links {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header nav ul li .links:hover {
  font-weight: bold;
  transform: scale(1.08);
}*/
.header nav ul li .links {
  position: relative;
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header nav ul li .links::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #38bdf8;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header nav ul li .links:hover::after {
  transform: scaleX(1);
}
